doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
      form(action="/", method="post")
            input(type="text", name="name")
            button(type="submit") Enviar
