doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        form(action="/" method="get")
            label(for="name")
            input(type="text" id ="name" name ="name")
            button(type="submit") Enviar
